<mat-toolbar class="mt-10 bg-white border-b border-[#BCBCBC] w-11/12 mx-auto flex justify-between items-center">
  <div class="flex items-center justify-center gap-4">
    <img src="assets/Framelogo.svg" alt="">
    <h1 class="text-4xl">Dentics</h1>
  </div>
  <nav class="flex gap-10 items-center">
    <button mat-button color="disabled" routerLink="/home" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="font-semibold text-blue-500">Home</button>
    <button mat-button color="disabled" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="font-semibold text-blue-500">Services</button>
    <button mat-button color="disabled" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="font-semibold text-blue-500">About us</button>
    <button mat-button color="disabled" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="font-semibold text-blue-500">Register</button>
    <button class="py-6 px-10 text-sm" mat-flat-button color="primary" routerLink="/">Appoinment</button>
  </nav>
</mat-toolbar>
