<section class="w-11/12 mx-auto flex justify-between items-center py-16">
  <!-- Hero Section Left Side -->
  <div class="flex flex-col w-1/2">
    <h2 class="[&>strong]:text-yellow-400 font-bold text-6xl text-balance mb-6">We Provide High Quality <strong>Dental</strong> Services</h2>
    <p class="text-xl text-pretty text-neutral-400 mb-16">Appropriately embrace transparent materials via turnkey niche markets. </p>
    <div class="flex gap-12 [&>button]:p-6">
      <button mat-flat-button color="primary">Get Started</button>
      <button class="border-gray-800" mat-stroked-button color="disabled">Learn More</button>
    </div>
  </div>
  <!-- Hero Section Right Side -->
  <div class="w-1/2">
    <img class="size-full" src="assets/HeroSectionImage.svg" alt="Hero Section Image">
  </div>
</section>
