@use '@angular/material' as mat;

// Define la paleta principal en azul (#516EFF)
$primary-blue: mat.define-palette(mat.$blue-palette, 600);

// Define la paleta secundaria en azul oscuro (#216583)
$secondary-dark-blue: mat.define-palette(mat.$cyan-palette, 900);

// Define la paleta de color amarillo (#FFD700)
$yellow: mat.define-palette(mat.$yellow-palette);

// Define la paleta de color rojo
$warn: mat.define-palette(mat.$red-palette);

// Crea el objeto de tema
$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-blue,
    accent: $secondary-dark-blue,
    warn: $warn,
    yellow: $yellow,
  )
));

// Incluye estilos del tema en tu aplicación
@include mat.all-component-themes($custom-theme);

/* Resto de tu código */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;
